.text{
    font-size: 1rem;
    color: #CAC9FF;
    text-align: center;
}

.red{
    color:#F55
}

.black{
    color: #303B59
}

.orange{
    color: #FFB21E
}

.green{
    color: #00BB8F
}

.blue{
    color: #1125D6
}